@media screen and (max-width:1790px) {
    .section_title{
        font: 50px "Poppins", serif;
        
    }
    
    .section_paragraph{
        font: 20px "Oswald", sans-serif;
        
    }
    
   

   

    .about .wrapper{
        flex-wrap: wrap;
    }
    .product .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        justify-items: center;
        
    }
   
}

@media screen and (max-width:1440px){

    footer .wrapper{
        display: block;
        text-align: center;
    }

 
}

@media screen and (max-width:1110px){

    .product .wrapper{
        grid-template-columns: auto;
        gap: 20px;

    }

    header .wrapper nav ul{
        display: none;
    }
    header .wrapper select{
        display: block;
        padding: 14px;
        box-shadow: 0 2px 2px 0 #aa0047;
        border-radius: 8px;
        background-color: #42004b;
        color: #f0f0f0;
        font:18px "Poppins"sans-serif ;
    }
 

}

@media screen and (max-width:565px){

    .section_title{
        font: 30px "Poppins", serif;
        
    }
    
    .section_paragraph{
        font: 18px "Oswald", sans-serif;
        
    }

    .about .wrapper .right .card{
        max-width: 400px;
    }
    .about .wrapper .right .card img{
        width: 100%;
    }

    .product .wrapper .card{
        max-width: 400px ;
    }

    .product .wrapper .card img{
        width: 100%;
    }

    header .wrapper nav{
        border: none;
        background-color: rgb(48, 13, 65);
    }
}